
<span ng-repeat="light in lights">
  <input class="radio-on" id="alight{{light.id}}" ng-model="light.selected" ng-disabled="light.disabled" type="checkbox">
  <label class="radio-disabled-{{light.disabled}}" for="alight{{light.id}}">{{light.name}}</label>
</span>



<div>
  <div>Light:</div>
  <input class="radio-on" id="light-on" ng-model="lightOn" ng-value="true" type="radio">
  <label for="light-on">On</label>
  <input class="radio-off" id="light-off" ng-model="lightOn" ng-value="false" type="radio">
  <label for="light-off">Off</label>
</div>

<div>Light color:</div>
<div class="spectrum">
  <img class="spectrum-img" src="../images/sp.png">
  <input class="hue-slider slider-thumb" type="range" ng-model="hue" max="65280"></input>
</div>
<div>Light brightness:</div>
<div class="brightness">
  <input class="slider slider-thumb slider-thumb-margin" type="range" ng-model="brightness" max="254"></input>
</div>
<div>Light saturation:</div>
<div class="saturation">
  <input class="slider slider-thumb slider-thumb-margin" type="range" ng-model="saturation" max="254"></input>
</div>

<div>
  <div>Motion detection:</div>
  <input class="radio-on" id="motion-on" ng-model="motionStatus" ng-value="true" type="radio">
  <label for="motion-on">On</label>
  <input class="radio-off" id="motion-off" ng-model="motionStatus" ng-value="false" type="radio">
  <label for="motion-off">Off</label>
</div>

<div>
  <div>Motion detection type:</div>
  <input class="radio-on" id="motion-all" ng-model="motionType" ng-value="true" type="radio">
  <label for="motion-all">All time</label>
  <input class="radio-off" id="motion-door" ng-model="motionType" ng-value="false" type="radio">
  <label for="motion-door">Door watch</label>
</div>

<div>Switch off light when no motion detected after: <input type="text" ng-model="lightTime"></input></div>
<div><input type="button" value="Set time" ng-click="setLightTime()"></input></div>

